<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <appSettings>
    <add key="Facebook:AppId" value="3891227247844729" />
    <add key="Facebook:AppSecret" value="b011195c62758dcb013d16dfbe53bfd4" />
    <add key="Facebook:PageId" value="979182415278149" />
    <add key="Facebook:PageAccessToken" value="EAA3TDPHZAHXkBQtZCH6ZAhjLYAfggkIa3bYaUZA88xGC98tJZADvYsfQoFe1NMPY9dN3ZAxDe5gpeUMN7wMQZBtr09ADiNs1YZARLPjl8hVkebUi8euhYTPiPzthpMbR5xQI3p9xByf8HoKdER9h3JAEm9xf8CVlYljlKB13Y3eoPyIpUWePW4huEQgyjybmQZAm9suIqLGPnZBEdEM6V3OVJrZAhoH4tIBYMyebPzZAOAqj" />
  </appSettings>

  <connectionStrings>
    <add name="RaceManagementDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=RaceManagement;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
